* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
}

.hero-section {
    background-image: url('https://45397-theme003.myshopify.com/cdn/shop/files/slide_1_1810x700_crop_center.png?v=1620302496');
    background-position: cover;
    background-size: auto;

}

.nav-content li a {
    text-align: none;
}

.container {
    /* background-color: #6a6a6a; */
    display: flex;
    align-items: center;
}

.container-info {
    display: flex;
    flex-direction: column;
    margin-left: 9rem;
    width: 50%;
    padding: 10rem 0;
}

.container-info h1 {
    width: 70%;
    font-size: 4rem;
    font-weight: 700;
    color: white;
    margin-bottom: 1rem;
}

.container-info p {
    width: 70%;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}


.shop-btn {
    color: white;
    border: none;
    font-weight: 500;
    background-color: #409b78da;
    padding: 12px 30px;
    border-radius: 2rem;
    font-size: 0.9rem;
}

.explore-btn {
    font-weight: 500;
    color: white;
    background-color: rgba(87, 87, 87, 0.579);
    padding: 12px 30px;
    border-radius: 2rem;
    font-size: 0.9rem;
}

.content {
    width: 80%;
    margin: 0 auto;
}


.footer {
    height: 800px;
}

.footer1-content {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 5rem;
}

.newsletter-title {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    margin-bottom: 0.5rem;
}

.newsletter-title h4 {
    font-size: 1.1rem;
    color: #6a6a6a;
    font-weight: normal;
}

.newsletter-input {
    display: flex;
    gap: 0.8rem;
}

.newsletter-input input {
    padding: 0.94rem 2.8rem;
    padding-left: 1rem;
    border: 1px solid #bfbfbf;
    border-radius: 0.5rem;
}

.newsletter-input ::placeholder {
    text-align: start;
    font-size: 0.895rem;
    color: #6a6a6a;
}

.newsletter-input i {
    background-color: #3B5D50;
    border-radius: 0.5rem;
    padding: 0.94rem 1.8rem;
    color: white;
}

.newsletter-img img {
    width: 350px;
}

.footer2-content {
    background-color: #ffcb51;

}

.about-furni {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
}

.furni-info {
    width: 35%;
}

.furni-info h2 {
    font-size: 1.925rem;
    font-weight: 500;
    margin-bottom: 1.3rem;
    color: #2f2F2F;
}

.furni-info p {
    line-height: 1.6rem;
    font-size: 0.9rem;
    color: #6a6a6a;
    margin-bottom: 1rem;
}

.furni-info i {
    background-color: #eff2f1;
    padding: 0.8rem 0.9rem;
    color: #6a6a6a;
    border-radius: 4rem;
    margin-left: 0.5rem;
    margin-bottom: 3rem;
}


.furni-flex {
    display: flex;
    gap: 6rem;
    padding-top: 4rem;
}

.flex {
    display: flex;
    flex-direction: column;
    row-gap: 1.2rem;
    font-size: 0.91rem;
    color: #6a6a6a;
}



.footer3-content {
    background-color: #ffcb51;
    height: 100px;
    padding-top: 1rem;


}

.footer3 {
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.copyright p {
    width: 90%;
    line-height: 1.6rem;
    font-size: 0.9rem;
    color: #6a6a6a;
}

.term-conditions {
    display: flex;
    gap: 1rem;
}

.term-conditions span {
    font-size: 0.9rem;
    color: #6a6a6a;
}



@media screen and (max-width:767px) {

    .hero-section {
        width: 100%;
        height: 750px;
        background-position: center;
        background-size: auto;

    }

    .nav-bar {
        padding: 1.5rem 2rem;
        margin: 0 auto;
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    .nav-content {
        display: none;
    }

    .nav-bar h1 {
        font-size: 2rem;
        color: white;
    }

    #menu {
        color: rgb(173, 173, 173);
        font-size: 1.5rem;
    }

    #login-btn {
        display: none;
    }

    .container {
        width: 100%;
        padding-top: 2rem;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .container-info {
        width: 80%;
        margin: 0 auto;
    }

    .container-info h1 {

        font-size: 35px;
        font-weight: 700;
    }


    img {

        width: 500px;
    }

    .craft-content {
        display: flex;
        flex-direction: column;
    }

    #craft-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .craft-item {
        transition: transform 0.3s ease-in-out;
    }

    .craft-item:hover {
        transform: scale(1.05);

    }

    .craft-item img {
        width: 350px;
    }

    .craft-item-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .craft-item-box img {
        width: 200px;
    }

    .caring-pet-content {
        display: flex;
        flex-direction: column;
        padding: 3rem 0;
    }

    .caring-img img {
        width: 250px;
    }



    .content {
        padding: 2rem 0;
    }

    h3 {
        text-align: center;
        margin-bottom: 1rem;
    }

    .content p {
        font-size: 0.9rem;
        margin-bottom: 1rem;
    }


    .footer1-content {
        display: flex;
        flex-direction: column-reverse;
    }

    .newsletter-title img {
        width: 2rem;
    }

    .newsletter-input {
        display: flex;
        flex-wrap: wrap;
    }

    .about-furni {
        display: flex;
        flex-direction: column;
    }

    .furni-info {
        width: 100%;
    }

    .furni-flex {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 2rem;
    }

    .footer3-content {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: 1rem;

    }

    .copyright p {
        width: 100%;
    }
}


@media screen and (min-width:767px) {

    .hero-section {
        height: 800px;
        background-position: center;
        background-size: auto;

    }

    .nav-bar {
        width: 80%;
        margin: 0 auto;
        padding: 1rem 0.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav-content {
        display: flex;
        align-items: center;
    }

    .nav-bar h1 {
        font-size: 1.8rem;
        color: white;
    }

    .nav-content {
        display: flex;
    }

    ul {
        display: flex;
        list-style: none;
    }

    li a {
        margin: 0 0.5rem;
        font-size: 0.8rem;
        font-weight: 600;
        text-decoration: none;
        color: white;
    }

    li:hover {
        color: white;
    }

    .user {
        margin-left: 1rem;
        font-size: 1.2rem;
        color: white;
    }

    .cart {
        margin-left: 1rem;
        font-size: 1.2rem;
        color: white;
    }

    #menu {
        display: none;
    }

    .container {
        /* border-top: 1px solid grey; */
        height: 750px;
        padding-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-info {
        display: flex;
        justify-content: center;
        width: 80%;
        margin-left: 0rem;
    }

    .container-info h1 {
        font-size: 2.4rem;
        width: 90%;
        margin-bottom: 2rem;
    }

    .container-info p {
        line-height: 1.8rem;
        width: 90%;
        margin-bottom: 1.8em;
    }

    .btn {
        margin-left: 0rem;
    }

    .shop-btn {
        font-size: 1rem;
        font-weight: 600;
    }

    .explore-btn {
        font-size: 1rem;
        font-weight: 600;
    }

    .img img {
        width: 750px;
    }



    .content {
        padding: 2rem 0;
    }

    h3 {
        text-align: center;
        margin-bottom: 1rem;
    }

    .content p {
        font-size: 0.9rem;
        margin-bottom: 1rem;
    }

    .footer1-content {
        display: flex;
        flex-direction: column-reverse;
    }

    .newsletter-title img {
        width: 2rem;
    }

    .newsletter-input {
        display: flex;
        flex-wrap: wrap;
    }

    .about-furni {
        display: flex;
        flex-direction: column;
    }

    .furni-info {
        width: 100%;
    }

    .furni-flex {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 2rem;
    }

    .footer3-content {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: 1rem;

    }

    .copyright p {
        width: 100%;
    }



}


@media screen and (max-width:1200px) and (min-width:767px) {
    #login-btn {
        display: block;
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 0.2rem;
        font-size: 0.9rem;
        font-weight: 600;
        color: white;
        background-color: #409b78da;
        cursor: pointer;
        text-decoration: none;

    }

    #login-btn a:hover {
        background-color: #409b78a9;

    }

    footer {
        height: 1000px;
        display: flex;
        align-items: center;
    }

    .footer1-content {
        display: flex;
    }

    .newsletter-title img {
        width: 2rem;
    }

    .newsletter-input {
        display: flex;
        flex-wrap: wrap;
    }

    .about-furni {
        display: flex;
        flex-direction: column;
    }

    .furni-info {
        width: 100%;
    }

    .furni-flex {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 2rem;
    }



    .content {
        padding: 2rem 0;
    }

    h3 {
        text-align: center;
        margin-bottom: 1rem;
    }

    .content p {
        font-size: 0.9rem;
        margin-bottom: 1rem;
    }


}


@media screen and (min-width:1200px) {
    .hero-section {
        height: 600px;
    }

    .nav-bar h1 {
        font-size: 2rem;
    }

    ul {
        cursor: pointer;
    }

    .nav-content li a {
        text-decoration: none;
        color: white;
        margin-left: 2rem;
        font-size: 1rem;
    }

    .container {
        display: flex;
        flex-direction: row;
        width: 80%;
        height: max-content;
        margin: 0 auto;

    }

    .container-info h1 {
        font-size: 3.5rem;
        font-weight: 700;
        width: 50%;
    }

    .img img {
        width: 650px;
    }

    .user,
    .cart {
        cursor: pointer;
        margin-left: 2rem;
    }

    #login-btn {
        display: block;
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 0.2rem;
        font-size: 0.9rem;
        font-weight: 600;
        color: white;
        background-color: #409b78da;
        cursor: pointer;
        text-decoration: none;
    }

    #login-btn:hover {
        background-color: #409b78a9;

    }

    .content {
        padding: 2rem 0;
    }

    h3 {
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 1rem;
    }

    .content p {
        font-size: 1rem;
        margin-bottom: 1rem;
    }

}